[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==5.0.1"
djangorestframework = "==3.14.0"
djangorestframework-simplejwt = "==5.3.1"
pymysql = "==1.1.0"
cryptography = ">=42.0.0"
django-cors-headers = "==4.3.1"
reportlab = "==4.0.9"
pillow = ">=10.0.0"
python-dotenv = "==1.0.0"
gunicorn = "==21.2.0"

[dev-packages]

[requires]
python_version = "3.13"
